<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>Members:</p>
<ul>
  <% @confirmed_members.each do |member| %>
      <li><%= link_to member.user.username, member.user%> </li>
  <% end %>
</ul>

<p>Unconfirmed Members:</p>
<ul>
  <% @unconfirmed_members.each do |member| %>
      <li><%= link_to member.user.username, member.user%> <%= link_to "confirm membership", toggle_confirmed_membership_path(member.id), method: :post, class: "btn btn-primary" %>
      </li>
  <% end %>
</ul>
<%


   %>
<%=if !current_user.nil? and current_user.memberships.select {|membership| membership.beer_club_id == @beer_club.id}.count == 0
    form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"join the club" %>
<% end
end
%>


<%= link_to 'Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
<%= link_to 'Back', beer_clubs_path %>
